.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.app_head{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #3c8dbc;
}
.app_side{
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #001529;
}
.app_main{
  position: absolute;
  top: 64px;
  left: 300px;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
